.account-section{
	padding: 150px 0px;
}

.account-section .form-inner{
	position: relative;
	display: block;
	background: #FFFFFF;
	box-shadow: 0px 30px 70px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	padding: 65px 40px 70px 40px;
}

.account-section .form-inner h3{
	display: block;
	font-size: 26px;
	line-height: 34px;
	font-weight: 700;
	margin-bottom: 9px;
}

.account-section .form-inner p{
	color: #222;
}

.account-section .form-inner p a{

}

.account-section .form-inner p a:hover{
	text-decoration: underline;
}

.account-section .form-inner .form-group{
	position: relative;
	margin-bottom: 25px;
}

.account-section .form-inner .form-group:last-child{
	margin-bottom: 0px;
}

.account-section .form-inner .form-group label{
	position: relative;
	display: block;
	font-size: 18px;
	color: #222;
	margin-bottom: 7px;
}

.account-section .form-inner .form-group input[type='text'],
.account-section .form-inner .form-group input[type='email'],
.account-section .form-inner .form-group input[type='password']{
	position: relative;
	display: block;
	width: 100%;
	height: 50px;
	background: #F5F5F5;
	border: 1px solid #F5F5F5;
	border-radius: 5px;
	font-size: 18px;
	color: #6E6E6E;
	padding: 10px 20px;
	transition: all 500ms ease;
}

.account-section .form-inner .form-group input:focus{

}

.account-section .form-inner .form-group .forgot-password a{
	position: relative;
	display: inline-block;
	font-size: 18px;
}

.account-section .form-inner .form-group .forgot-password a:hover{
	text-decoration: underline;
}

.account-section .form-inner .form-group button{
	width: 100%;
	box-shadow: none;
}

.account-section .pattern-layer .pattern-1{
	position: absolute;
	left: 367px;
	bottom: 75px;
	width: 350px;
	height: 355px;
	background-repeat: no-repeat;
}

.account-section .pattern-layer .pattern-2{
	position: absolute;
	top: 40px;
	right: 390px;
	width: 270px;
	height: 274px;
	background-repeat: no-repeat;
}