.chooseus-section{
    padding: 142px 0px 105px 0px;
}

.chooseus-section .bg-layer{
    position: absolute;
    left: 0px;
    top: 0px;
    width: calc(50% - 315px);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content_block_nine .content-box{
    display: block;
}

.content_block_nine .content-box .text p{
    color: rgba(255, 255, 255, 0.7);
}

.content_block_nine .content-box .single-item{
    position: relative;
    display: block;
    padding-left: 115px;
    margin-bottom: 40px;
}

.content_block_nine .content-box .single-item .icon-box{
    position: absolute;
    display: inline-block;
    left: 0px;
    top: 0px;
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 45px;
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 15px 50px rgba(34, 34, 34, 0.05);
    border-radius: 50%;
    text-align: center;
    z-index: 1;
    transition: all 500ms ease;
}

.content_block_nine .content-box .single-item .icon-box::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    transform: scale(0,0);
    z-index: -1;
    transition: all 500ms ease;
}

.content_block_nine .content-box .single-item:hover .icon-box::before{
    transform: scale(1,1);
}

.content_block_nine .content-box .single-item h5{
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}

.content_block_nine .content-box .single-item p{
    color: rgba(255, 255, 255, 0.7);
}

.chooseus-section .pattern-layer{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 629px;
    height: 743px;
    background-repeat: no-repeat;
}