.coaching-section{
    padding: 144px 0px 300px 0px;
}

.coaching-section .bg-layer{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content_block_six .content-box{
    position: relative;
}

.content_block_six .content-box .single-item{
    position: relative;
    display: block;
    background-color: #fff;
    border-radius: 15px;
    padding: 35px 40px;
    margin-bottom: 30px;
}

.content_block_six .content-box .single-item::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 0%;
    left: 0px;
    top: 0px;
    border-radius: 15px;
    transition: all 500ms ease;
}

.content_block_six .content-box .single-item:hover::before{
    height: 100%;
}

.content_block_six .content-box .single-item h3{
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.content_block_six .content-box .single-item h3 a{
    display: inline-block;
    color: #222;
}

.content_block_six .content-box .single-item h3 span{
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    transition: all 500ms ease;
}

.content_block_six .content-box .single-item p{
    transition: all 500ms ease;
}

.content_block_six .content-box .single-item:hover h3 a,
.content_block_six .content-box .single-item:hover h3 span,
.content_block_six .content-box .single-item:hover p{
    color: #fff;
}

.coaching-section .pattern-layer{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 664px;
    height: 100%;
    background-repeat: no-repeat;
}


/** coaching-style-two **/

.coaching-style-two{
    position: relative;
}

.coaching-style-two .coaching-block-one{
    position: relative;
    float: left;
    width: 25%;
}

.coaching-block-one .inner-box{
    position: relative;
    display: block;
    overflow: hidden;
}

.coaching-block-one .inner-box .image-box{
    position: relative;
    display: block;
    overflow: hidden;
}

.coaching-block-one .inner-box .image-box img{
    width: 100%;
    transition: all 500ms ease;
}

.coaching-block-one .inner-box:hover .image-box img{
    opacity: 0.3;
    transform: scale(1.05);
}

.coaching-block-one .inner-box .image-box:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.9) 10%, rgba(0,0,0,0.0) 50%);
  bottom: 0px;
  right: 0px;
  z-index: 1;
  transition: all 500ms ease;
}

.coaching-block-one .inner-box:hover .image-box:before{
    opacity: 0;
}

.coaching-block-one .inner-box h3{
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.coaching-block-one .inner-box h3 a{
    color: #fff;
}

.coaching-block-one .inner-box h3 span{
    display: block;
    font-size: 25px;
    font-weight: 700;
}

.coaching-block-one .inner-box .static-content .text{
    position: absolute;
    left: 0px;
    bottom: 30px;
    width: 100%;
    z-index: 1;
    transition: all 500ms ease;
}

.coaching-block-one .inner-box:hover .static-content .text{
    opacity: 0;
}

.coaching-block-one .inner-box .overlay-content{
    position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
    left: 50px;
    top: 80px;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    background: #fff;
    padding: 30px 30px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease;
}

.coaching-block-one .inner-box:hover .overlay-content{
    top: 50px;
    visibility: visible;
    opacity: 1;
}

.coaching-block-one .inner-box .overlay-content h3 a{
    color: #222;
}

.coaching-block-one .inner-box .overlay-content h3 a:hover{

}

.coaching-block-one .inner-box .overlay-content h3{
    margin-bottom: 14px;
}

.coaching-block-one .inner-box .overlay-content p{
    margin-bottom: 22px;
}

.coaching-block-one .inner-box .overlay-content .theme-btn-one{
    color: #222 !important;
    background: #fff;
    padding: 16px 35px 10px 33px;
    box-shadow: 0px 10px 50px rgba(34, 34, 34, 0.2);
}

.coaching-block-one .inner-box .overlay-content .theme-btn-one:hover{

}


/** coaching-style-three **/

.coaching-style-three{
    padding: 142px 0px 120px 0px;
}

.coaching-block-two .inner-box{
    position: relative;
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 30px 70px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
}

.coaching-block-two .inner-box .image-box{
    position: relative;
    display: block;
    overflow: hidden;
    transition: all 500ms ease;
}

.coaching-block-two .inner-box:hover .image-box{
    background: #1D2133;
}

.coaching-block-two .inner-box .image-box img{
    width: 100%;
    transition: all 500ms ease;
}

.coaching-block-two .inner-box:hover .image-box img{
    opacity: 0.2;
    transform: scale(1.05);
}

.coaching-block-two .inner-box .lower-content{
    position: relative;
    display: block;
    padding: 35px 50px 40px 50px;
}

.coaching-block-two .inner-box .lower-content h3{
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.coaching-block-two .inner-box .lower-content h3 a{
    color: #222;
}

.coaching-block-two .inner-box .lower-content h3 span{
    position: relative;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
}

.coaching-block-two .inner-box .lower-content h3 a:hover{

}

.coaching-block-two .inner-box .lower-content p{
    margin-bottom: 23px;
}

.coaching-block-two .inner-box .lower-content .theme-btn-one{
    background: #FFFFFF;
    color: #222 !important;
    box-shadow: 0px 10px 50px rgba(34, 34, 34, 0.2);
    padding: 16px 35px 10px 33px;
}

.coaching-block-two .inner-box .lower-content .theme-btn-one:hover{
    color: #fff !important;
}

.coaching-block-two .inner-box .lower-content .theme-btn-one:before{

}