.contact-info-section{

	padding-top: 142px;
}

.contact-info-section .info-inner{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contact-info-section .info-inner .single-item{
	position: relative;
	display: block;
}

.contact-info-section .info-inner .single-item h5{
	position: relative;
	display: block;
	font-size: 18px;
	line-height: 26px;
	font-weight: 600;
	padding-left: 30px;
	margin-bottom: 9px;
}

.contact-info-section .info-inner .single-item h5 i{
	position: absolute;
	left: 0px;
	top: 1px;
	font-size: 22px;
}

.contact-info-section .info-inner .single-item:last-child h5 i{
	font-size: 15px;
	top: 3px;
}

.contact-info-section .info-inner .single-item p a{
	color: #676767;
}

.contact-info-section .info-inner .single-item p a:hover{

}

.contact-info-section #contact-google-map{
	position: relative;
	width: 100%;
	height: 550px;
	border-radius: 15px;
}

.contact-info-section:before{
	position: absolute;
	content: '';
	background: #F5F5F5;
	width: 100%;
	height: 275px;
	left: 0px;
	bottom: 0px;
}

.contact-info-section .pattern-layer{
	position: absolute;
	top: 30px;
	right: 70px;
	width: 223px;
	height: 226px;
	background-repeat: no-repeat;
}


.contact-section{
	position: relative;
}

.contact-section .form-inner .form-group{
	position: relative;
	margin-bottom: 30px;
}

.contact-section .form-inner .form-group:last-child{
	margin-bottom: 0px;
}

.contact-section .form-inner .form-group input[type='text'],
.contact-section .form-inner .form-group input[type='email'],
.contact-section .form-inner .form-group input[type='tel'],
.contact-section .form-inner .form-group textarea{
	position: relative;
	display: block;
	width: 100%;
	height: 50px;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	font-size: 18px;
	color: #6E6E6E;
	padding: 10px 10px;
	text-align: left;
	transition: all 500ms ease;
}

.contact-section .form-inner .form-group textarea{
	height: 170px;
	resize: none;
	padding-top: 15px;
}

.contact-section .form-inner .form-group input:focus,
.contact-section .form-inner .form-group textarea:focus{

}

.contact-section .form-inner .form-group .theme-btn-one{
	padding: 16px 35px 10px 33px;
}

.contact-section .pattern-layer .pattern-1{
	position: absolute;
	left: 0px;
	top: -70px;
	width: 345px;
	height: 473px;
	background-repeat: no-repeat;
}

.contact-section .pattern-layer .pattern-2{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 416px;
	background-repeat: repeat-x;
	animation: slide 60s linear infinite;
    -webkit-animation: slide 60s linear infinite;
}