.faq-page-section{
	padding: 145px 0px 150px 0px;
}

.faq-page-section h3{
	display: block;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	margin-bottom: 20px;
}

.accordion-box .block{
  position: relative;
  display: block;
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0px 20px 60px rgba(62, 84, 141, 0.1);
  border-radius: 15px;
  transition: all 500ms ease;
}

.accordion-box .block.active-block{

}

.accordion-box .block:last-child{
  margin-bottom: 0px;
}

.accordion-box .block .acc-btn{
  position: relative;
  display: block;
  cursor: pointer;
  padding: 26px 80px 24px 40px;
  transition: all 500ms ease;
}

.accordion-box .block .acc-btn .icon-outer{
  position: absolute;
  top: 26px;
  right: 30px;
  font-size: 14px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  transition: all 500ms ease;
}

.accordion-box .block .acc-btn .icon-outer:before{
  position: absolute;
  content: '\e929';
  font-family: 'icomoon';
  top: 0px;
  right: 0px;
  width: 26px;
  height: 26px;
  line-height: 26px;
}

.accordion-box .block .acc-btn.active .icon-outer:before{
  opacity: 0;
}

.accordion-box .block .acc-btn.active .icon-outer:after{
  position: absolute;
  content: '\e926';
  font-family: 'icomoon';
  top: 0px;
  right: 0px;
  font-size: 2px;
  width: 26px;
  height: 26px;
  line-height: 26px;
}

.accordion-box .block .acc-btn.active{

}

.accordion-box .block .acc-btn h5{
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  padding-left: 43px;
  transition: all 500ms ease;
}

.accordion-box .block .acc-btn h5 span{
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 25px;
	font-weight: 500;
	text-transform: uppercase;
}

.accordion-box .block .acc-content{
  position:relative;
  display:none;
  padding: 5px 50px 45px 83px;
}

.accordion-box .block .acc-content.current{
  display:block;  
}

.faq-page-section .pattern-layer{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
}