.feature-section{
    position: relative;
}

.feature-section .inner-container{
    position: relative;
    background-color: #fff;
    border-radius: 10px 0px 0px 10px;
    padding: 70px 0px 65px 0px;
    margin-top: -125px;
    z-index: 1;
}

.feature-section .inner-container::before{
    position: absolute;
    content: '';
    background-color: #fff;
    width: 5000px;
    height: 100%;
    left: 0px;
    top: 0px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.1);
}

.feature-block-one .inner-box{
    position: relative;
    padding-left: 90px;
}

.feature-block-one .inner-box .icon-box{
    position: relative;
    display: block;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 15px;
}

.feature-block-one .inner-box h3{
    display: block;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 20px;
}

.feature-block-one .inner-box h3 a{
    display: inline-block;
    color: #222;
}

.feature-block-one .inner-box h3 a:hover{

}

.feature-section .shape{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1605px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/** feature-style-two **/

.feature-style-two{
    padding-top: 144px;
}

.feature-block-two .inner-box{
    position: relative;
    display: block;
    background-color: #fff;
    padding: 40px 40px 45px 105px;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    z-index: 1;
    transition: all 500ms ease;
}

.feature-block-two .inner-box:hover{
    transform: translateY(-10px);
}

.feature-block-two .inner-box .icon-box{
    position: absolute;
    left: 40px;
    top: 40px;
    font-size: 60px;
}

.feature-block-two .inner-box h3{
    display: block;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 12px;
}

.feature-block-two .inner-box h3 a{
    display: inline-block;
    color: #222;
}

.feature-block-two .inner-box h3 a:hover{

}

.feature-style-two .shape{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 1192px;
    background-size: cover;
    background-repeat: no-repeat;
}


/** feature-style-three **/

.feature-style-three{
    padding: 143px 0px 120px 0px;
    overflow: hidden;
}

.feature-style-three .feature-block-two .inner-box{
    margin-bottom: 30px;
}

.feature-style-three .feature-block-two .inner-box .icon-box{
    font-size: 50px;
    color: #222;
    transition: all 500ms ease;
}

.feature-style-three .feature-block-two .inner-box:hover .icon-box{

}

.feature-style-three .pattern-layer .pattern-1{
    position: absolute;
    left: 0px;
    top: -35px;
    width: 345px;
    height: 473px;
    background-repeat: no-repeat;
}

.feature-style-three .pattern-layer .pattern-2{
    position: absolute;
    right: 126px;
    bottom: -120px;
    width: 466px;
    height: 473px;
    background-repeat: no-repeat;
}