.funfact-section{
    position: relative;
}

.funfact-section .inner-container{
    position: relative;
    display: block;
    border-radius: 10px;
    padding: 65px 60px 60px 60px;
    margin-top: -166px;
}

.funfact-block-one .inner-box{
    position: relative;
    display: block;
}

.funfact-block-one .inner-box .icon-box{
    position: relative;
    display: block;
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 25px;
}

.funfact-block-one .inner-box .count-outer{
    position: relative;
    display: block;
    font-size: 50px;
    line-height: 60px;
    font-family: 'League Spartan', sans-serif;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}

.funfact-block-one .inner-box p{
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    font-weight: 500;
}

.funfact-section .line-1{
    position: absolute;
    width: 1px;
    height: 100%;
    left: 33.333%;
    top: 0px;
    background: rgba(255, 255, 255, 0.3);
}

.funfact-section .line-2{
    position: absolute;
    width: 1px;
    height: 100%;
    left: 66.666%;
    top: 0px;
    background: rgba(255, 255, 255, 0.3);
}

/** funfact-style-two **/

.funfact-section.style-two .inner-container{
    background: #FFFFFF;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.funfact-section.style-two .funfact-block-one .inner-box .icon-box{

}

.funfact-section.style-two .funfact-block-one .inner-box .count-outer,
.funfact-section.style-two .funfact-block-one .inner-box p{
    color: #222;
}

.funfact-section.style-two .line-1,
.funfact-section.style-two .line-2{
    background-color: transparent;
    border-right: 2px dashed #e5e5e5;
    height: 120px;
    top: 115px;
}


/** funfact-style-three **/

.funfact-style-three{
    position: relative;
    background: #1D2133;
}

.funfact-style-three .inner-container{
    position: relative;
    padding: 70px 0px 63px 0px;
}

.funfact-block-two .inner-box{
    position: relative;
    display: inline-block;
    padding-left: 75px;
    text-align: left;
}

.funfact-block-two .inner-box .icon-box{
    position: absolute;
    left: 0px;
    top: 5px;
    font-size: 50px;
}

.funfact-block-two .inner-box .count-outer{
    position: relative;
    display: block;
    font-size: 50px;
    line-height: 60px;
    font-family: 'League Spartan', sans-serif;
    color: #fff;
    font-weight: 600;
    margin-bottom: 7px;
}

.funfact-block-two .inner-box p{
    display: block;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    font-weight: 500;
}

.funfact-style-three .line-1,
.funfact-style-three .line-2{
    position: absolute;
    top: 0px;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}

.funfact-style-three .line-1{
    left: 33.333%;
}

.funfact-style-three .line-2{
    left: 66.666%;
}