.page-title{
	padding: 140px 0px;
}

.page-title .bg-layer{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.page-title .bg-layer:before{
	position: absolute;
	content: '';
	background: #000;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	opacity: 0.6;
}

.page-title h1{
	display: block;
	font-size: 50px;
	line-height: 50px;
	color: #fff;
	font-weight: 800;
}

.bread-crumb{
	position: relative;
	background: #F5F5F5;
	padding: 26px 0px 25px 0px;
}

.bread-crumb .list li{
	position: relative;
	display: inline-block;
	font-size: 18px;
	line-height: 26px;
	font-family: 'League Spartan', sans-serif;
	color: #222;
	font-weight: 600;
}

.bread-crumb .list li a{
	color: #222;
}

.bread-crumb .list li a:hover{

}

.bread-crumb li + li:before {
    content: '-' !important;
    padding: 0 !important;
    position: relative;
    left: -4px;
    top: 2px;
    margin: 0px 4px;
}

.bread-crumb li + li:before {
    content: '-';
    font-family: 'Font Awesome 5 Pro';
    display: inline-block;
    font-weight: 900;
    font-size: 28px;
}