
.search-not-found{
	padding: 88px 0px 150px 0px;
}

.search-not-found .inner-box{
	position: relative;
	display: block;
	max-width: 850px;
	width: 100%;
	margin: 0 auto;
}

.search-not-found .inner-box .image-box{
	position: relative;
	display: block;
	margin-bottom: 20px;
}

.search-not-found .inner-box h2{
	display: block;
	font-size: 36px;
	line-height: 46px;
	font-weight: 700;
	margin-bottom: 22px;
}

.search-not-found .inner-box p{
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 32px;
}

.search-not-found .inner-box .btn-box{
	position: relative;
	display: block;
	margin-bottom: 70px;
}

.search-not-found .inner-box .form-inner .form-group{
	position: relative;
	margin: 0px;
}

.search-not-found .inner-box .form-inner .form-group input[type='search']{
	position: relative;
	display: block;
	width: 100%;
	height: 70px;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.12);
	border-radius: 5px;
	padding: 10px 50px 10px 30px;
	font-size: 16px;
	color: #6E6E6E;
	transition: all 500ms ease;
}

.search-not-found .inner-box .form-inner .form-group input:focus{

}

.search-not-found .inner-box .form-inner .form-group button{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 70px;
	height: 70px;
	font-size: 20px;
	color: #fff;
	border-radius: 0px 5px 5px 0px;
	background: #1D2133;
	cursor: pointer;
	transition: all 500ms ease;
}

.search-not-found .inner-box .form-inner .form-group input:focus + button,
.search-not-found .inner-box .form-inner .form-group button:hover{

}

.search-not-found .inner-box .theme-btn-one{
	box-shadow: none;
	padding: 16px 35px 10px 33px;
}

.search-not-found .pattern-layer{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 416px;
	background-repeat: repeat-x;
	animation: slide 60s linear infinite;
    -webkit-animation: slide 60s linear infinite;
}