.search-field{
    position: relative;
}

.search-field .form-group{
    position: relative;
    margin: 0px;
}

.search-field .form-group label{
    position: relative;
/*     display: block; */
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 8px;
}

.search-field .form-group input[type='text'],
.search-field .form-group input[type='email'],
.search-field .form-group .nice-select{
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    background: #fff;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    font-size: 18px;
    color: #6E6E6E;
    padding: 10px 20px;
    transition: all 500ms ease;
}

.search-field .form-group input:focus{

}

.search-field .form-group.message-btn{
    margin-top: 34px;
}

.search-field .form-group .theme-btn-one{
    padding: 16px 35px 10px 33px;
    box-shadow: none;
    width: 100%;
}

.search-field .form-group .theme-btn-one:hover{

}

.search-field .form-group .theme-btn-one::before,
.search-field .form-group .theme-btn-one::after{
    background-color: #fff;
}

.search-field .pattern-layer .pattern-1{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 271px;
    height: 196px;
    background-repeat: no-repeat;
}

.search-field .pattern-layer .pattern-2{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 153px;
    transform: translate(-50%,-50%);
    background-repeat: no-repeat;
}

.search-field .pattern-layer .pattern-3{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 244px;
    height: 196px;
    background-repeat: no-repeat;
}