.progress-box .bar{
    position:relative;
    width:100%;
    height:15px;
    background: #E9E9E9;
    border-radius: 25px;
}
  
.progress-box .bar-inner{
    position:relative;
    display:block;
    width:0px;
    height:15px;
    border-radius: 25px 0px 0px 25px;
    -webkit-transition:all 1500ms ease;
    -ms-transition:all 1500ms ease;
    -o-transition:all 1500ms ease;
    -moz-transition:all 1500ms ease;
    transition:all 1500ms ease; 
}
  
.progress-box .count-text{
    position: absolute;
    top: -35px;
    right: 0px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: #222;
}

.content_block_eight .content-box .progress-box p{
    position: relative;
    display: block;
    line-height: 26px;
    color: #222;
    font-weight: 500;
    margin-bottom: 10px;
}

.content_block_eight .content-box .progress-box{
    position: relative;
    margin-bottom: 25px;
}

.content_block_eight .content-box .progress-box:last-child{
    margin-bottom: 0px;
}

.image_block_six .image-box{
    position: relative;
    display: block;
    margin-right: -36px;
}

.image_block_six .image-box img{
    width: 100%;
}

.image_block_six .image-box .image-shape .shape-1{
    position: absolute;
    left: 0px;
    bottom: 200px;
    width: 270px;
    height: 274px;
    background-repeat: no-repeat;
    z-index: -1;
}

.image_block_six .image-box .image-shape .shape-2{
    position: absolute;
    right: 100px;
    top: 30%;
    width: 150px;
    height: 150px;
    border: 20px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.2);
}

.skills-section .pattern-layer{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 574px;
    height: 967px;
    background-repeat: no-repeat;
}