.subscribe-section{
/* 	padding: 70px 0px 60px 0px; */
}

.subscribe-section h2{
	display: block;
	font-size: 36px;
	line-height: 46px;
	color: #fff;
	font-weight: 700;
}

.subscribe-section .form-inner .form-group{
	position: relative;
	margin: 0px;
	padding-right: 247px;
}

.subscribe-section .form-inner .form-group input[type="email"]{
	position: relative;
	display: block;
	width: 100%;
	height: 60px;
	background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    padding: 10px 30px;
}

.subscribe-section .form-inner .form-group button[type="submit"]{
	position: absolute;
	top: 0px;
	right: -215px;
	background: #fff;
	color: #222 !important;
	padding: 16px 50px 16px 42px;
}

.subscribe-section .form-inner .form-group button[type="submit"]:hover{
	color: #fff !important;
	background: #222 !important;
}

.subscribe .wpcf7-response-output {
    position: absolute;
    top: 60px;
}

.subscribe-section .btn-4::before {
    top: 16px;
    right: 17px;
}