.team-details{
	padding: 150px 0px 145px 0px;
}

.team-details-content .image-box{
	position: relative;
	display: block;
}

.team-details-content .image-box img{
	width: 100%;
}

.team-details-content .content-box{
	position: relative;
	display: block;
}

.team-details-content .content-box h2{
	display: block;
	font-size: 30px;
	line-height: 28px;
	font-weight: 700;
	margin-bottom: 10px;
}

.team-details-content .content-box .designation{
	position: relative;
	display: block;
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
	margin-bottom: 25px;
}

.team-details-content .content-box p{
	margin-bottom: 30px;
}

.team-details-content .content-box .info li{
	position: relative;
	display: block;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 10px;
}

.team-details-content .content-box .info li:last-child{
	margin-bottom: 0px;
}

.team-details-content .content-box .info li span{
	color: #222;
	font-weight: 500;
}

.team-details-content .content-box .info li a{
	color: #6E6E6E;
}

.team-details-content .content-box .info li a:hover{

}

.team-details-content .content-box .social-links li{
	position: relative;
	display: inline-block;
	margin-right: 17px;
}

.team-details-content .content-box .social-links li:last-child{
	margin: 0px !important;
}

.team-details-content .content-box .social-links li a{
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #676767;
	background: #FFFFFF;
	box-shadow: 0px 10px 50px rgba(34, 34, 34, 0.2);
	text-align: center;
	border-radius: 50%;
}

.team-details-content .content-box .social-links li a:hover{
	color: #fff;
}

.team-details .biography h3{
	display: block;
	font-size: 25px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 23px;
}

.team-details .biography p{
	margin-bottom: 20px;
}

.team-details .biography p:last-child{
	margin-bottom: 0px;
}

.team-details .experience-skills h3{
	display: block;
	font-size: 25px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 24px;
}

.team-details .experience-skills .single-item{
	margin-bottom: 25px;
}

.team-details .experience-skills .single-item:last-child{
	margin-bottom: 0px;
}

.team-details .experience-skills .single-item h5{
	position: relative;
	display: block;
	font-size: 20px;
	line-height: 26px;
	font-weight: 600;
	padding-left: 34px;
	margin-bottom: 20px;
}

.team-details .experience-skills .single-item h5:before{
	position: absolute;
	content: '';
	width: 16px;
	height: 16px;
	border-radius: 50%;
	left: 0px;
	top: 2px;
}

.team-details .experience-skills .single-item h5:after{
	position: absolute;
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 50%;
	left: 5px;
	top: 7px;
}

.team-details .skills-inner .progress-box{
	margin-bottom: 25px;
}

.team-details .skills-inner .progress-box:last-child{
	margin-bottom: 0px;
}

.team-details .skills-inner .progress-box p{
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
	color: #222;
	margin-bottom: 10px;
}

.team-details .pattern-layer{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
}