.testimonial-section{
    position: relative;
}

.testimonial-block-one .inner-box{
    position: relative;
    display: block;
    padding-left: 55px;
}

.testimonial-block-one .inner-box .testimonial-thumb{
    position: absolute;
    left: 0px;
    top: 40px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.testimonial-block-one .inner-box .testimonial-thumb img{
    width: 100%;
    border-radius: 50%;
}

.testimonial-section .owl-carousel .owl-stage-outer{
    overflow: visible;
}

.testimonial-section .owl-carousel .owl-stage-outer .owl-item{
    opacity: 0;
}

.testimonial-section .owl-carousel .owl-stage-outer .owl-item.active{
    opacity: 1;
}

.testimonial-block-one .inner-box .testimonial-thumb::before{
    position: absolute;
    content: '\e91d';
    font-family: 'icomoon';
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    right: 0px;
    bottom: 0px;
    z-index: 1;

}

.testimonial-block-one .inner-box .text{
    position: relative;
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 0px 120px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 58px 40px 52px 75px;
}

.testimonial-block-one .inner-box .text h3{
    display: block;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
}

.testimonial-block-one .inner-box .text .date{
    position: relative;
    display: block;
    margin-bottom: 11px;
}

.testimonial-block-one .inner-box .text p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 18px;
}

.testimonial-block-one .inner-box .text .rating li{
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: #FFC93D;
}

.testimonial-section .pattern-layer{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 437px;
    background-repeat: no-repeat;
}

.testimonial-page-section{
    padding: 142px 0px 80px 0px;
}

.testimonial-page-section .testimonial-block-one .inner-box{
    margin-bottom: 70px;
}

.testimonial-page-section .pattern-layer{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}