.visa-section{
    position: relative;
    overflow: hidden;
}

/* .visa-section::before{
    position: absolute;
    content: '';
    background: #21263A;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.85;
} */

.visa-block-one .inner-box{
    position: relative;
    display: block;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.visa-block-one .inner-box .image-box{
    position: relative;
    display: block;
    overflow: hidden;
    border-bottom-left-radius: 30px;
}

.visa-block-one .inner-box .image-box img{
    width: 100%;
    transition: all 500ms ease;
}

.visa-block-one .inner-box:hover .image-box img{
    transform: scale(1.05);
    opacity: 0.2;
}

.visa-block-one .inner-box .lower-content{
    position: relative;
    display: block;
    padding: 33px 40px 40px 40px;
}

.visa-block-one .inner-box .lower-content .icon-box{
    position: absolute;
    top: -45px;
    right: 40px;
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 50px;
    color: #222;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 15px 50px rgba(34, 34, 34, 0.2);
    transition: all 500ms ease;
}

.visa-block-one .inner-box:hover .lower-content .icon-box{
    color: #fff;
}

.visa-block-one .inner-box .lower-content h3{
    display: block;
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 13px;
}

.visa-block-one .inner-box .lower-content h3 a{
    display: inline-block;
    color: #222;
}

.visa-block-one .inner-box .lower-content h3 a:hover{

}

.visa-block-one .inner-box .lower-content p{
    margin-bottom: 25px;
}

.visa-block-one .inner-box .lower-content .theme-btn-one{
    padding: 16px 30px 10px 28px;
    background-color: #fff;
    color: #222 !important;
    box-shadow: 0px 10px 50px rgba(34, 34, 34, 0.2);
}

.visa-block-one .inner-box .lower-content .theme-btn-one:hover{
    color: #fff !important;
}

.visa-block-one .inner-box .shape{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 500ms ease;
}

.visa-block-one .inner-box:hover .shape{
    opacity: 1;
}

.visa-section .owl-dots{
    position: relative;
    display: block;
    text-align: center;
    margin-top: 60px;
}

.visa-section .owl-theme button{
    height: 25px;
}

.visa-section .owl-theme .owl-dots .owl-dot span{
    position: relative;
    display: inline-block;
    width: 25px;
    height: 5px;
    background-color: #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: all 500ms ease;
}

.visa-section .owl-theme .owl-dots .owl-dot.active span,
.visa-section .owl-theme .owl-dots .owl-dot span:hover{
    width: 50px;
}


/** visa-style-two **/

.visa-block-two .inner-box{
    position: relative;
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 30px 70px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
}

.visa-block-two .inner-box .image-box{
    position: relative;
    display: block;
    overflow: hidden;
    border-bottom-left-radius: 15px;
}

.visa-block-two .inner-box .image-box img{
    width: 100%;
    transition: all 500ms ease;
}

.visa-block-two .inner-box:hover .image-box img{
    transform: scale(1.05);
    opacity: 0.2;
}

.visa-block-two .inner-box .lower-content{
    position: relative;
    display: block;
    padding: 0px 30px 50px 30px;
}

.visa-block-two .inner-box .lower-content .icon-box{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 15px 50px rgba(34, 34, 34, 0.1);
    font-size: 50px;
    color: #222;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-top: -50px;
    transition: all 500ms ease;
}

.visa-block-two .inner-box:hover .lower-content .icon-box{
    color: #fff;
}

.visa-block-two .inner-box .lower-content h3{
    display: block;
    font-size: 25px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 13px;
}

.visa-block-two .inner-box .lower-content h3 a{
    display: inline-block;
    color: #222;
}

.visa-block-two .inner-box .lower-content h3 a:hover{

}

.visa-block-two .inner-box .lower-content p{
    margin-bottom: 24px;
}

.visa-block-two .inner-box .lower-content .theme-btn-one{
    padding: 16px 30px 10px 28px;
    background-color: #fff;
    color: #222 !important;
    box-shadow: 0px 10px 50px rgba(34, 34, 34, 0.2);
}

.visa-block-two .inner-box .lower-content .theme-btn-one:hover{
    color: #fff !important;
}

.visa-block-two .inner-box .lower-content .theme-btn-one::before,
.visa-block-two .inner-box .lower-content .theme-btn-one::after{

}

.visa-style-two .pattern-layer{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 360px;
    background-repeat: repeat-x;
    animation: slide 60s linear infinite;
    -webkit-animation: slide 60s linear infinite;
}

.visa-page-1{
    padding: 142px 0px 120px 0px;
}

.visa-page-1 .visa-block-one .inner-box{
    box-shadow: 0px 30px 70px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}










.image_block_one .image-box{
    margin-right: 46px;
    margin-left: -25px;;
}

.image_block_one .image-box img{
    width: 100%;
}

.image_block_one .image-box .image-2{
    position: absolute;
    left: 0px;
    bottom: 107px;
    background: #fff;
    padding: 10px;
    box-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.17);
    border-radius: 330px;
}

.image_block_one .image-box .image-2 img{
    border-radius: 330px;
}

.image_block_one .image-box .text{
    position: absolute;
    top: 226px;
    right: 0px;
    width: 180px;
    height: 180px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.1);
}

.image_block_one .image-box .text h2{
    display: block;
    font-size: 50px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.image_block_one .image-box .text h6{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.image_block_one .image-box .shape .shape-1{
    position: absolute;
    right: -50px;
    top: 175px;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: 20px solid #F7F7F7;
    z-index: -1;
}

.image_block_one .image-box .shape .shape-2{
    position: absolute;
    left: 28px;
    top: 93px;
    width: 205px;
    height: 205px;
    background-repeat: no-repeat;
    z-index: -1;
}

.content_block_one .content-box{
    display: block;
}

.about-section .pattern-layer .pattern-1{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 685px;
    height: 1032px;
    background-repeat: no-repeat;
}

.about-section .pattern-layer .pattern-2{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 516px;
    height: 620px;
    background-repeat: no-repeat;
}

.about-section .pattern-layer .pattern-3{
    position: absolute;
    right: 245px;
    bottom: 55px;
    width: 205px;
    height: 205px;
    background-repeat: no-repeat;
}


/** about-style-two **/

.content_block_four .content-box{
    display: block;
}

.content_block_four .content-box .single-item{
    position: relative;
    display: block;
    padding-left: 115px;
    margin-bottom: 40px;
}

.content_block_four .content-box .single-item:last-child{
    margin-bottom: 0px;
}

.content_block_four .content-box .single-item .icon-box{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    height: 90px;
    line-height: 90px;
    background-color: #F6F6F6;
    font-size: 50px;
    color: #222;
    text-align: center;
    border-radius: 50%;
    transition: all 500ms ease;
}

.content_block_four .content-box .single-item:hover .icon-box{
    color: #fff;
}

.content_block_four .content-box .single-item h5{
    display: block;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 11px;
}

.image_block_three .image-box{
    position: relative;
    display: block;
    padding-left: 130px;
    padding-bottom: 100px;
}

.image_block_three .image-box .image{
    border-radius: 15px;
}

.image_block_three .image-box .image img{
    width: 100%;
    border-radius: 15px;
}

.image_block_three .image-box .image-2{
    position: absolute;
    left: 0px;
    bottom: 0px;
    box-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.image_block_three .image-box .image-1{
    position: relative;
    overflow: hidden;
}

.image_block_three .image-box .image-1 img{
    -webkit-transform: rotate(15deg) scale(1.4);
    transform: rotate(15deg) scale(1.4);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.image_block_three .image-box .image-1:hover img{
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
}

.image_block_three .image-box .image-shape .shape-1{
    position: absolute;
    left: -90px;
    bottom: 145px;
    width: 180px;
    height: 180px;
    background-repeat: no-repeat;
}

.image_block_three .image-box .image-shape .shape-2{
    position: absolute;
    top: 40px;
    right: -60px;
    width: 180px;
    height: 180px;
    background-repeat: no-repeat;
}

.image_block_three .image-box .image-shape .shape-3{
    position: absolute;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    left: 45px;
    top: 50px;
    z-index: 1;
    -webkit-animation: zoom-fade 5s infinite linear;
    animation: zoom-fade 5s infinite linear;
}


/** about-style-three **/

.about-style-three{
    padding: 83px 0px 70px 0px;
}

.image_block_five .image-box{
    position: relative;
    display: block;
    margin-left: -47px;
}

.image_block_five .image-box .image{
    position: relative;
}

.image_block_five .image-box img{
    width: 100%;
}

.image_block_five .image-box .image-shape .shape-1{
    position: absolute;
    left: 242px;
    top: 0px;
    width: 180px;
    height: 180px;
    background-repeat: no-repeat;
}

.image_block_five .image-box .image-shape .shape-2{
    position: absolute;
    left: 136px;
    bottom: 107px;
    width: 470px;
    height: 470px;
    background-repeat: no-repeat;
}

.image_block_five .image-box .image-shape .shape-3{
    position: absolute;
    right: 25px;
    bottom: 230px;
    width: 220px;
    height: 223px;
    background-repeat: no-repeat;
    z-index: -1;
    -webkit-animation: zoom-fade 5s infinite linear;
    animation: zoom-fade 5s infinite linear;
}

.image_block_five .image-box .image-shape .shape-4{
    position: absolute;
    top: 27%;
    right: 50px;
    width: 150px;
    height: 150px;
    border: 20px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.about-style-three .pattern-layer{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 812px;
    background-size: cover;
    background-repeat: no-repeat;
}