
.rtl .owl-carousel{
  direction: ltr;
}

.rtl .main-menu .navigation > li{
  float: right;
}

.rtl .main-menu .navigation > li:first-child{
  margin-left: 15px !important;
  margin-right: 0px;
}

.rtl .main-menu .navigation > li:last-child{
  margin-right: 15px !important;
  margin-left: 0px;
}

.rtl .main-menu .navigation > li > ul > li > a, 
.rtl .main-menu .navigation > li > .megamenu li > a{
  text-align: right;
}

.rtl .main-menu .navigation li.dropdown .megamenu li h4{
  text-align: right;
}

.rtl .main-menu .navigation > li > ul > li > ul > li > a{
  text-align: right;
}

.rtl .main-menu .navigation > li > ul > li.dropdown > a:after{
  right: inherit;
  left: 20px;
  content: "\f104";
}

.rtl .mobile-menu{
  text-align: right;
}

.rtl .mobile-menu .nav-logo{
  text-align: right;
}

.rtl .mobile-menu .navigation li > a:before{
  left: inherit;
  right: 0px;
}

.rtl .mobile-menu .navigation li.dropdown .dropdown-btn{
  right: inherit;
  left: 6px;
}

.rtl .mobile-menu .navigation li.dropdown .dropdown-btn.open{
  transform: rotate(-90deg);
}

.rtl .scroll-to-top{
  right: inherit;
  left: 0px;
}

.rtl .header-top .social-links li{
  margin-right: 0px;
  margin-left: 25px;
}

.rtl .header-top .top-right .info{
  margin-right: 0px;
  margin-left: 50px;
}

.rtl .header-top .info li::before{
  right: inherit;
  left: -25px;
}

.rtl .header-top .info li{
  float: right;
  margin-right: 0px;
  margin-left: 50px;
}

.rtl .header-style-two .header-lower .nav-right li.search-box-outer{
  margin-right: 0px;
  margin-left: 17px;
}

.rtl .nice-select .option{
  text-align: right;
}

.rtl .banner-style-two .form-inner{
  margin-left: 0px;
  margin-right: 243px;
}

.rtl .nice-select{
  text-align: right !important;
}

.rtl .nice-select:after{
  right: inherit;
  left: 20px;
}

.rtl .feature-block-two .inner-box{
  padding-left: 40px;
  padding-right: 105px;
}

.rtl .feature-block-two .inner-box .icon-box{
  left: inherit;
  right: 40px;
}

.rtl .image_block_three .image-box{
  margin-left: 0px;
  margin-right: 30px;
}

.rtl .content_block_four .content-box{
  margin-right: 0px;
  margin-left: 30px;
}

.rtl .content_block_four .content-box .single-item{
  padding-left: 0px;
  padding-right: 115px;
}

.rtl .content_block_four .content-box .single-item .icon-box{
  left: inherit;
  right: 0px;
}

.rtl .content_block_five .content-box{
  margin-left: 0px;
  margin-right: 30px;
}

.rtl .coaching-section .bg-layer{
  right: inherit;
  left: 0px;
}

.rtl .content_block_six .content-box{
  margin-right: 0px;
  margin-left: 70px;
}

.rtl .testimonial-block-one .inner-box .text{
  text-align: right;
}

.rtl .list-style-one li{
  padding-left: 0px;
  padding-right: 30px;
}

.rtl .list-style-one li::before{
  left: inherit;
  right: 0px;
}

.rtl .news-block-one .inner-box .lower-content .post-info li{
  margin-right: 0px;
  margin-left: 30px;
}

.rtl .news-block-one .inner-box .lower-content .post-info li::before{
  right: inherit;
  left: -16px;
}

.rtl .main-footer .logo-widget .post-info li{
  padding-left: 0px;
  padding-right: 25px;
}

.rtl .main-footer .logo-widget .post-info li i{
  left: inherit;
  right: 0px;
}

.rtl .main-footer .social-links li{
  float: right;
  margin-right: 0px;
  margin-left: 15px;
}

.rtl .scroll-to-top .scroll-bar{
  margin-right: 0px;
  margin-left: 10px;
}

.rtl .main-footer .gallery-widget .image-list li{
  float: right;
}

.rtl{
	direction: rtl;
}








