/*****************Sub Menu******************/
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_dropdown_menu ul.wp-megamenu-sub-menu{
	background:#ffffff !important;
	box-shadow: 0px 50px 100px rgb(0 0 0 / 12%) !important;
	padding: 11px 0 11px 25px;
	border-top: 2px solid #939393;
}
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_dropdown_menu > ul.wp-megamenu-sub-menu li a b{
	float:none !important;
}
/*****************Mega Menu*****************/
.wp-megamenu-wrap .wp-megamenu > li > a{
	font-family: inherit;
	font-size: 18px;
	color:#000000;
	padding: 30px 10px!important;
}

.wp-megamenu-wrap .wp-megamenu > li > a:hover,
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_dropdown_menu.current-menu-ancestor > a{
	color: var(--red-one) !important;
}

.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > .wpmm-strees-row-and-content-container > ul.wp-megamenu-sub-menu,
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > ul.wp-megamenu-sub-menu{
	background-color:#ffffff;
	box-shadow: 0px 50px 100px rgb(0 0 0 / 12%);
    margin: 0;
	padding:0 30px;    
	transform-origin: 0 0;
    transition: all 0.3s ease-in-out !important;
}

.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > ul.wp-megamenu-sub-menu{
	padding:0px;
	min-width:1200px;
    margin-left: -230px!important;
}

.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > .wpmm-strees-row-and-content-container > ul.wp-megamenu-sub-menu > li,
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > ul.wp-megamenu-sub-menu > li > ul.wp-megamenu-sub-menu > li {
	padding:0px;
}

.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu li.wpmm_mega_menu .wpmm-strees-row-and-content-container > .wp-megamenu-sub-menu >li > .wp-megamenu-sub-menu >li,
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > ul.wp-megamenu-sub-menu > li > ul.wp-megamenu-sub-menu > li{
	padding: 14px;
	border-right: 1px solid #F2F2F2!important;
	border-top: 1px solid #F2F2F2!important;
}

.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > .wpmm-strees-row-and-content-container ul.wp-megamenu-sub-menu li,
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_dropdown_menu > ul.wp-megamenu-sub-menu li,
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > ul.wp-megamenu-sub-menu > li > ul.wp-megamenu-sub-menu li{
	line-height:42px !important;
}

.wp-megamenu-wrap .wp-megamenu > li .wp-megamenu-sub-menu > li > ul > li a,
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_dropdown_menu > ul.wp-megamenu-sub-menu li a,
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > ul.wp-megamenu-sub-menu > li > ul.wp-megamenu-sub-menu li a{
	font-size: 16px;
	padding: 0 0px 0 0 !important;
	letter-spacing: 0px;
	line-height: 23px;
	font-weight:normal !important;
	color: #212121;
	background: transparent;
	display: inline-block !important;
	position: relative;
	white-space: inherit;
	transition: all 0.3s ease-in-out;
	padding-bottom: 7px;
}

.wp-megamenu-wrap .wp-megamenu > li .wp-megamenu-sub-menu > li > ul > li a:before,
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_dropdown_menu > ul.wp-megamenu-sub-menu li a:before,
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > ul.wp-megamenu-sub-menu > li > ul.wp-megamenu-sub-menu li a:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: -2px;
	background: #ff2b2b;
	transform-origin: 0 0;
	transform: scale(0 , 1);
	transition: all 0.3s ease-in-out;
}

.wp-megamenu-wrap .wp-megamenu > li .wp-megamenu-sub-menu > li > ul > li a:hover,
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_dropdown_menu > ul.wp-megamenu-sub-menu li a:hover,
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > ul.wp-megamenu-sub-menu > li > ul.wp-megamenu-sub-menu li a:hover{
	color: var(--red-one) !important;
}

.wp-megamenu-wrap .wp-megamenu > li .wp-megamenu-sub-menu > li > ul > li a:hover:before,
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_dropdown_menu > ul.wp-megamenu-sub-menu li a:hover:before,
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > ul.wp-megamenu-sub-menu > li > ul.wp-megamenu-sub-menu li a:hover:before{
	transform: scale(1);
}

ul.wp-megamenu li.wpmm-type-widget .wpmm-item-title{
	font-size: 13px;
	letter-spacing: 1.3px;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	margin: 0px 0 5px;
	font-weight: 600!important;
}

ul.wp-megamenu li.wpmm-type-widget .wpmm-item-title:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 9px;
	background: #d9d9d9;
	left: 0;
	bottom: -1px;
}

/****************Mega Menu End ********************/
.theme-menu-five .navbar .navbar-nav > li{
    width: 13vw;
    min-width: 220px;
    text-align: center;
}
.theme-menu-five .navbar .navbar-nav > li:nth-child(2) {
    margin-right: 8vw;
}
.theme-menu-five .navbar .navbar-nav > li > a{
	font-family: inherit;
    font-size: 20px;
    color: #fff;
    margin: 0 15px;
}
.m-t10{
	margin-top:10px;
}
.theme-menu-one.white-vr.dark-bg .wp-megamenu-wrap .wpmm-nav-wrap > ul > li > a{
	color: #fff;
}
.theme-menu-one.white-vr.dark-bg .wp-megamenu-wrap .wpmm-nav-wrap > ul > li > a:hover,
.theme-menu-five .navbar .navbar-nav > li > a:hover{
	color:var(--red-one)	
}
.blog-meta-five .img-meta img,
.blog-details-one .blog-details-content .image-meta,
.blog-details-one .blog-details-content .image-meta img{
	height:auto;
}
.woocommerce .loader::before{
	display:none !important;
}
.woocommerce .select2-container{
	z-index:1 !important;
}
.theme-menu-one .inner-content .logo a,
.theme-menu-two .inner-content .logo a{
	display:block;
}
.theme-menu-one .inner-content .logo img,
.vcamp-footer-one .top-footer .logo img,
.theme-menu-two .inner-content .logo img,
.vcamp-footer-two .footer-widget .logo img,
.offcanvas.sidebar-nav .offcanvas-header .logo img,
.theme-menu-six .logo img {
	height:50px;
}


 #wp-megamenu-main_menu>.wpmm-nav-wrap .wp-megamenu>li .wpmm-strees-row-and-content-container>ul.wp-megamenu-sub-menu li.wpmm-type-widget>a {
    display: block!important;
}
.wp-megamenu-wrap  ul li img,#wp-megamenu-main_menu li.wpmm-type-widget>a img{
	width: 100%!important;
	margin: 0 auto;
	text-align: center;
}
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > ul.wp-megamenu-sub-menu > li.wpmm-row > ul.wp-megamenu-sub-menu > li x{
	overflow:hidden;
	
}
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > ul.wp-megamenu-sub-menu > li.wpmm-row > ul.wp-megamenu-sub-menu > li img{
	transform:scale(1);
	
}
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > ul.wp-megamenu-sub-menu > li.wpmm-row > ul.wp-megamenu-sub-menu > li img:hover{
	transform:scale(1.03);
	
}
.service-block-one .inner-box:hover {
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 10%);
    transform: translateY(-10px);
}
